<%- include("template/cabecera", {tituloweb:'Inventario'}) %> 

    
    <div class="container">
<h1>Lista De Productos en Inventario</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre_Producto</th>
        <th scope="col">Existencia</th>
        <th scope="col">Acciòn</th>
      </tr>
    </thead>
    <tbody>
        <% if(arrayProductos.length > 0){ %> 
            <% arrayProductos.forEach(producto => { %> 
                <tr>
                    <th scope="row"><%= producto.id %> </th>
                    <td><%=producto.nombre_producto %></td>
                    <td><%=producto.existencia %></td>
                    <td>@editar</td>
                </tr>
        
            <% }) %>
        <% } %>
    </tbody>
  </table>
 
    </div>


<%- include("template/footer") %> 